<div class="ui black inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
        <div class="three wide column">
            <h4 class="ui inverted header">
                <p class="">VcrT 的一些帮助</p>
            </h4>
            <div class="ui inverted link list">
                <a class="item" href="/cla.html" target="_blank">
                    辅助功能
                </a>
                <a class="item" href="https://github.com/Semantic-Org/Semantic-UI/issues" target="_blank">
                    如何修改密码
                </a>
                <a class="item" href="/cla.html" target="_blank">
                    私密空间？
                </a>
                <a class="item" href="/cla.html" target="_blank">
                    获取 VcrT 的更多帮助
                </a>
            </div>
        </div>
        <div class="three wide column">
                <h4 class="ui inverted header">
                    <p class="">用户手册</p>
                </h4>
                <div class="ui inverted link list">
                <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">
                    隐私相关
                </a>
                <a class="item" href="https://forums.semantic-ui.com" target="_blank">
                    更换语言(chooise language)
                </a>
                <a class="item" href="http://1.semantic-ui.com">
                    当前版本的新功能
                </a>
                <a class="item" href="http://legacy.semantic-ui.com">
                    GitHub 库
                </a>
            </div>
        </div>
        <!--    <div class="three wide column">
            <h4 class="ui inverted header">Learn</h4>
            <div class="ui inverted link list">
            <a href="#" class="disabled item">Example Layouts</a>
            <a href="#" class="disabled item">The Project</a>
            <a href="#" class="disabled item">Roadmap</a>
            <a href="#" class="disabled item">About the Author</a>
            </div>
        </div> -->
        <div class="seven wide right floated column">
            <h4 class="ui inverted header">
                <p class="">帮助维持本项目</p>
            </h4>
            <p> 社区为 Semantic UI 持续不断的发展提供了直接的支持。</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                <div class="ui mini buttons">
                    <button class="ui button">意见反馈</button>
                    <div class="or inverted"></div>
                    <button class="ui blue button">捐赠我们</button>
                </div>
            </form>
        </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="{{ MEDIA_URL }}{{ request.session.kouza_.face }}" class="ui centered tiny image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="http://semantic-ui.mit-license.org/" target="_blank">
                <p>
                    Crpyright ©&nbsp;&nbsp;&nbsp;2017-2018 VcrT 资源存储加观览网站 All Right Reserved
                </p>
            </a>
        </div>
    </div>
</div>