<a class="item kouza_msg">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <img src="{{ MEDIA_URL }}{{ request.session.kouza_.face|default:'def_face.jpg' }}" class="ui small circular centered image">
        </div>
        <div class="ui sixteen wide column mr-t-large-f">
            <div class="txt-huge ">
                    {{ request.session.kouza_.name }}
            </div>
            <div class="ui dropdown mr-t-small" id="kouza_dropdown">
                <div class="text txt-less" onclick="open_kouza_dropdown();">更多操作</div>
                <i class="ui angle down icon"></i>
                <div class="menu">
                    <div class="item">
                        修改个人资料
                        <i class="ui configure icon right aligned"></i>
                    </div>
                    <div class="item">
                        修改空间密码
                        <i class="ui write square icon right aligned"></i>
                    </div>
                    <div class="item">
                        退出登录
                        <i class="ui sign out icon right aligned"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="javascript:void(0);" class="item" onclick="go_in_s('ゴミはこ', 'pic')">
    回收站
</a>
<a href="javascript:void(0);" class="item" onclick="go_in_s('ジェント', null)">
    个性化
</a>
<a href="javascript:void(0);" class="item" onclick="go_in_s('safe', null)">
    安全性
</a>
<a href="javascript:void(0);" class="item" onclick="go_in_s('setting', null)" style="bottom: 0;position: absolute;">
    设置
</a>
<form method="GET" action="" id="go_s_form">
    {% csrf_token %}
    <input type="hidden" name="option" id="go_option">
</form>